/* DONE */.sprite-close-icon {
  background: url('../images/sprites.png') no-repeat 0 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-close-icon-hover {
  background: url('../images/sprites.png') no-repeat -30px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-close-icon-disabled {
  background: url('../images/sprites.png') no-repeat -60px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-edit-icon {
  background: url('../images/sprites.png') no-repeat -90px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-edit-icon-hover {
  background: url('../images/sprites.png') no-repeat -120px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-edit-icon-disabled {
  background: url('../images/sprites.png') no-repeat -150px 0;
  width: 30px;
  height: 30px;
}
.sprite-save-icon {
  background: url('../images/sprites.png') no-repeat -1373px 0;
  width: 30px;
  height: 30px;
}
.sprite-save-icon-hover {
  background: url('../images/sprites.png') no-repeat -1408px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-add-grid-icon {
  background: url('../images/sprites.png') no-repeat -180px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-add-grid-icon-hover {
  background: url('../images/sprites.png') no-repeat -210px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-add-grid-icon-disabled {
  background: url('../images/sprites.png') no-repeat -240px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-nav-back-icon {
  background: url('../images/sprites.png') no-repeat -270px 0;
  width: 42px;
  height: 42px;
}
/* DONE */.sprite-nav-back-icon-hover {
  background: url('../images/sprites.png') no-repeat -312px 0;
  width: 42px;
  height: 42px;
}
/* DONE */.sprite-nav-back-icon-disabled {
  background: url('../images/sprites.png') no-repeat -354px 0;
  width: 42px;
  height: 42px;
}
/* DONE */.sprite-next-page-icon {
  background: url('../images/sprites.png') no-repeat -396px 0;
  width: 20px;
  height: 20px;
}
/* DONE */.sprite-next-page-icon-hover {
  background: url('../images/sprites.png') no-repeat -416px 0;
  width: 20px;
  height: 20px;
}
/* DONE */.sprite-next-page-icon-disabled {
  background: url('../images/sprites.png') no-repeat -436px 0;
  width: 20px;
  height: 20px;
}
/* DONE */.sprite-add-point-icon {
  background: url('../images/sprites.png') no-repeat -456px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-add-point-icon-hover {
  background: url('../images/sprites.png') no-repeat -486px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-add-point-icon-disabled {
  background: url('../images/sprites.png') no-repeat -516px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-prev-page-icon {
  background: url('../images/sprites.png') no-repeat -546px 0;
  width: 20px;
  height: 20px;
}
/* DONE */.sprite-prev-page-icon-hover {
  background: url('../images/sprites.png') no-repeat -566px 0;
  width: 20px;
  height: 20px;
}
/* DONE */.sprite-prev-page-icon-disabled {
  background: url('../images/sprites.png') no-repeat -586px 0;
  width: 20px;
  height: 20px;
}
/* DONE */.sprite-sort-icon {
  background: url('../images/sprites.png') no-repeat -606px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-sort-icon-hover {
  background: url('../images/sprites.png') no-repeat -636px 0;
  width: 30px;
  height: 30px;
}
/* DONE */.sprite-sort-icon-disabled {
  background: url('../images/sprites.png') no-repeat -666px 0;
  width: 30px;
  height: 30px;
}
.sprite-probe-icon {
  background: url('../images/sprites.png') no-repeat -716px 0;
  width: 30px;
  height: 30px;
}
.sprite-probe-icon-hover {
  background: url('../images/sprites.png') no-repeat -746px 0;
  width: 30px;
  height: 30px;
}
.sprite-probe-icon-disabled {
  background: url('../images/sprites.png') no-repeat -776px 0;
  width: 30px;
  height: 30px;
}
.sprite-toggle-btn-icon-off {
  background: url('../images/sprites.png') no-repeat -811px 0;
  width: 66px;
  height: 31px;
}
.sprite-toggle-btn-icon-on {
  background: url('../images/sprites.png') no-repeat -882px 0;
  width: 66px;
  height: 31px;
}
.sprite-info-icon {
  background: url(../images/info-icon-black.png);
  width: 30px;
  height: 30px;
}
.sprite-info-icon-hover {
  background: url(../images/info-icon-black-inverted.png);
  width: 30px;
  height: 30px;
}
.sprite-send-by-email-icon {
  background: url('../images/sprites.png') no-repeat -953px 0;
  width: 30px;
  height: 30px;
}
.sprite-send-by-email-icon-hover {
  background: url('../images/sprites.png') no-repeat -988px 0;
  width: 30px;
  height: 30px;
}
.sprite-send-by-email-icon-disabled {
  background: url('../images/sprites.png') no-repeat -1023px 0;
  width: 30px;
  height: 30px;
}
.sprite-data-to-file-icon {
  background: url('../images/sprites.png') no-repeat -1058px 0;
  width: 30px;
  height: 30px;
}
.sprite-data-to-file-icon-hover {
  background: url('../images/sprites.png') no-repeat -1093px 0;
  width: 30px;
  height: 30px;
}
.sprite-data-to-file-icon-disabled {
  background: url('../images/sprites.png') no-repeat -1128px 0;
  width: 30px;
  height: 30px;
}
.sprite-data-to-image-icon {
  background: url('../images/sprites.png') no-repeat -1163px 0;
  width: 30px;
  height: 30px;
}
.sprite-data-to-image-icon-hover {
  background: url('../images/sprites.png') no-repeat -1198px 0;
  width: 30px;
  height: 30px;
}
.sprite-data-to-image-icon-disabled {
  background: url('../images/sprites.png') no-repeat -1233px 0;
  width: 30px;
  height: 30px;
}
.sprite-copy-url-icon {
  background: url('../images/sprites.png') no-repeat -1268px 0;
  width: 30px;
  height: 30px;
}
.sprite-copy-url-icon-hover {
  background: url('../images/sprites.png') no-repeat -1303px 0;
  width: 30px;
  height: 30px;
}
.sprite-copy-url-icon-disabled {
  background: url('../images/sprites.png') no-repeat -1338px 0;
  width: 30px;
  height: 30px;
}
/*
@font-face {
  font-family: "Segoe Print";
  src: url("../fonts/segoepr.ttf");
}

@font-face {
  font-family: "Segoe Print Bold";
  src: url("../fonts/segoeprb.ttf");
}

@font-face {
  font-family: "Segoe Script";
  src: url("../fonts/segoesc.ttf");
}

@font-face {
  font-family: "Segoe Script Bold";
  src: url("../fonts/segoescb.ttf");
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/segoeui.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("../fonts/segoeuib.ttf");
}

@font-face {
  font-family: "Segoe UI Italic";
  src: url("../fonts/segoeuii.ttf");
}

@font-face {
  font-family: "Segoe UI Light";
  src: url("../fonts/segoeuil.ttf");
}

@font-face {
  font-family: "Segoe UI Light Italic";
  src: url("../fonts/segoeuili.ttf");
}

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("../fonts/segoeuisb.ttf");
}

@font-face {
  font-family: "Segoe UI Semibold Italic";
  src: url("../fonts/segoeuisbi.ttf");
}

@font-face {
  font-family: "Segoe UI Semilight";
  src: url("../fonts/segoeuisl.ttf");
}

@font-face {
  font-family: "Segoe UI Semilight Italic";
  src: url("../fonts/segoeuisli.ttf");
}

@font-face {
  font-family: "Segoe UI Symbol";
  src: url("../fonts/segoeuisym.ttf");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  src: url("../fonts/segoeuiz.ttf");
}
*/
html,
body {
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: "Segoe UI Light", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", "sans-serif";
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #999999;
}
a:hover,
a:active {
  color: #333333;
}
.connection-failed-msg {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  padding: 20px;
  height: 100%;
}
.connection-failed-msg h1 {
  font-weight: normal;
}
nav {
  width: 40px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 40px 0;
  background-color: #424242;
}
nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul .fc2-menu-icon {
  width: 40px;
  height: 40px;
}
nav ul .fc2-menu-icon.geography {
  background-image: url(../images/geography-icon.png);
}
nav ul .fc2-menu-icon.geography:hover,
nav ul .fc2-menu-icon.geography.active {
  background: url(../images/geography-icon-active.png) #ffffff;
}
nav ul .fc2-menu-icon.layers {
  background-image: url(../images/layers-icon.png);
}
nav ul .fc2-menu-icon.layers:hover,
nav ul .fc2-menu-icon.layers.active {
  background: url(../images/layers-icon-active.png) #ffffff;
}
nav ul .fc2-menu-icon.time {
  background-image: url(../images/time-icon.png);
}
nav ul .fc2-menu-icon.time:hover,
nav ul .fc2-menu-icon.time.active {
  background: url(../images/time-icon-active.png) #ffffff;
}
nav ul .fc2-menu-icon.results {
  background-image: url(../images/results-icon.png);
}
nav ul .fc2-menu-icon.results:hover,
nav ul .fc2-menu-icon.results.active {
  background: url(../images/results-icon-active.png) #ffffff;
}
nav ul .fc2-menu-icon.export {
  background-image: url(../images/export-icon.png);
}
nav ul .fc2-menu-icon.export:hover,
nav ul .fc2-menu-icon.export.active {
  background: url(../images/export-icon-active.png) #ffffff;
}
nav ul .fc2-menu-icon.about {
  background-image: url(../images/about-icon.png);
}
nav ul .fc2-menu-icon.about:hover,
nav ul .fc2-menu-icon.about.active {
  background: url(../images/about-icon-active.png) #ffffff;
}
nav .fc2-logo {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #ffffff;
  font: 24px "Segoe UI Light";
  margin: 0;
  position: fixed;
  bottom: 0;
}
main {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fff;
}
main section {
  width: 100%;
  height: 100%;
  display: none;
}
.template-invisible {
  display: none;
}
.fc-panel {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  background: #fff;
}
.fc-panel .fc-panel-header {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 36px;
}
.fc-panel .fc-panel-message {
  display: none;
  padding: 10px 20px;
  font-size: 18px;
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2em;
  border: 2px solid #919191;
  padding: 0 .5em;
}
input:hover,
input:focus {
  outline: 0;
  border: 2px solid #5e5e5e;
}
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2em;
  border: 2px solid #919191;
}
button {
  height: 32px;
  min-width: 100px;
  border: 2px solid #a1a1a1;
  background-color: #fff;
  color: #797979;
  font-weight: bold;
}
button:hover,
button:focus {
  border: 2px solid #424242;
  background-color: #424242;
  color: #fff;
}
