<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Microsoft.Research.Science.FetchClimate2.Properties.Settings.FetchConfigurationDBConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=FetchConfigurationDB;Integrated Security=True;Connect Timeout=30" />
        <add name="Microsoft.Research.Science.FetchClimate2.Properties.Settings.FetchClimate2ConfigurationConnectionString"
            connectionString="Data Source=(localDB)\v11.0;Initial Catalog=FetchClimate2Configuration;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>