<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Microsoft.Research.Science.FetchClimate2.Properties.Settings.JobDBConnectionString"
            connectionString="Data Source=(localDB)\v11.0;Initial Catalog=JobDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>